body {
  position: relative;
}

.app {
  position: absolute;
  margin: 0 auto;
  max-width: 150rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); // --> X
  padding: 1rem;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
