// --- 01 TYPOGRAPHY SYSTEM

//FONTS

$rubik-sans: "Rubik", sans-serif;

// - Font sizes (px)

// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - Font weights

$Default-font-wheigt: 400;
$Medium-font-wheigt: 500;
$Semi-bold-font-wheigt: 600;
$Bold-font-wheigt: 700;

// - Line heights = font size * multiplier

$Default-line-height: 1;
$Small-line-height: 1.05;
$Medium-line-height: 1.2;
$Paragraph-default-line-height: 1.6;
$large-line-height: 1.8;

// - Letter spacing

$Medium-letter-spacing: -0.5px;
$Large-letter-spacing: 0.75px;

//  --- 02 COLORS

$color-white: #ffffff;
$color-black: #000000;

// --- 05 SHADOWS

$shadow-dark: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
$shadow-medium: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
$shadow-light: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

// --- 06 BORDER RADIOUS

$Default-border-radious: 0.9rem;
$Medium-border-radious: 1.5rem;

// --- 07 WHITESPACE

// - Spacing system (px)

// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

//BREAKPOINTS

$bp-largest: 75em; // 1200px / 16 px = 75rem = 75em
$bp-large: 68.75em; // 1100/16 = 68.5em
$bp-medium: 56.25em; // 900/16 = 56.25em
$bp-small: 37.5em; // 600/16 = 37.5em
$bp-smallest: 31.25em; // 500/16 = 31.25em

//TRANSITION

$transition: 0.5s cubic-bezier(0, 0, 0.58, 1);

//BREAKPOINTS

$bp-largest: 75em; // 1200px / 16 px = 75rem = 75em
$bp-large: 68.75em; // 1100/16 = 68.5em
$bp-medium: 56.25em; // 900/16 = 56.25em
$bp-small: 37.5em; // 600/16 = 37.5em
$bp-smallest: 31.25em; // 500/16 = 31.25em
