html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 0.625 = 62.5% (browser default) = 62.5
}
body {
  font-family: $rubik-sans;
}

h1 {
  font-size: 2rem;
  font-weight: $default-font-weight;
  color: $color-white;
  margin-bottom: 2rem;
  transform: translateY(3rem);
  opacity: 0;
  text-transform: uppercase;
  color: $color-black;
}

p {
  font-family: $rubik-sans;
  font-weight: $bold-font-weight;
  font-size: 4.4rem;
  margin-bottom: 3rem;
  opacity: 0;
  transform: translateY(3rem);
  color: $color-black;
}
